extends layout

block content
  header.row
    img.glyph(src="images/cly.png")
    h2 Creating spaces and experiences that catalyze meaning making.
  
  main(role="content").row
    section
      h3 Our projects
      p.col.span_4
        a(href="http://novella.io/", target="_blank") Novella
        | : a transmedium storytelling platform connecting artists to artists and audience. Demo: 
        a(href="http://lastwebsite.io/", target="_blank") Lastwebsite.io
      p.col.span_4
        a(href="http://3rdspace.io/", target="_blank") 3rdspace
        | : an essentials–only workspace that connects creative minds around critical resources — workspace, WiFi, coffee—and keeps out of the way. Based in PT/WA.
      p.col.span_4
        a(href="http://nodex.io/") Nodex
        | : a next generation text editor that let's you write the way you think, where and when you are.

  footer.row
    p
      a(href="http://notes.catalysm.co/") Read our notes
    p
      a(href="mailto:info@catalysm.co") Email us