extends layout

block content
  .grid_8.push_2
    section
      img.glyph(src="images/cly-logo-b-460.png")
      h3 Humans exist to create meaning. 
        br
        | We exist to help.
      p We're a small team of humans helping humans make meaning by creating spaces and experiments specifically for meaning makers.
      p
        strong
          em Catalysm: to catalyze meaning.

    section
      p
        a(href='http://notes.catalysm.co/') Read our Notes
      p
        a(href='mailto:info@catalysm.co') Contact us