extends layout

block content
  header
    h1 About us
    p Creating spaces and experiences that catalyze meaning making.
  
  section
    h1 Created by Catalysm
    article
      h2
        a(href="http://3rdspace.io/", target="_blank") 3rdspace
      h3 an essentials–only workspace
      p Connecting creative minds around critical resources: workspace, wifi & coffee.

    article
      h2
        a(href="http://nodex.io/", target="_blank") Nodex
      h3 a dynamic text editor
      p Subtle enough to capture an idea, sophisticated enough to write a book.

    article
      h2
        a(href="http://novella.io/", target="_blank") Novella
      h3 a transmedium storytelling platform 
      p Connecting artists & audience through immersive storytelling.

  section
    h1 Read our notes
    p Oberservations on meaning making.
      br
      em Coming soon!