extends layout

block content
  .grid_12
    section
      img.glyph(src="images/cly-glyph-1308-00.png")
      h1 
        span Catalysm: 
        | to catalyze meaning
      h3 HUMANS EXIST TO CREATE MEANING. WE EXIST TO HELP.

    section
      h2 Humans exist to create meaning.
      p To create meaning is human. ...

    section
      h2 We exist to help.
      p Catalysm.co exists to "catalyze humans to create meaning".
      p This vision is based on three priciples:
      ul
        li To be human, is to create meaning.