extends layout

block content
  .grid_12
    section
      img.glyph(src="images/cly-glyph-1308-00.png")
      h1 
        span Catalysm: 
        | to catalyze meaning
      h3 HUMANS EXIST TO CREATE MEANING. WE EXIST TO HELP.