doctype 5
html(lang="en-US")
  head
    meta(http-equiv="Content-Type", content="text/html", charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1")
    meta(name="description", content="Creating spaces and experiences that catalyze meaning making.")
    title= title
    link(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      img.glyph(src="images/cly.png")
    main(role="content")
      block content
    footer
      h1 contact us
      p
        a(href="mailto:info@catalysm.com") info@catalysm.com