doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/960grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container_12
      nav
        a(href='/')
          img.logo(src="images/cly-logo-1308-00.png")
        a(href="/notes") NOTES
        a(href="/contact") CONTACT
      block content