doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/960grid.css')
    link(rel='icon', type='image/png', href='/images/cly-favicon-a.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container_12
      block content