@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700,400italic,700italic|Alegreya+Sans:400,700,400italic,700italic);

body {
  padding: 40px;
  color: #110D11;
  background-color: #fff;
  font: 18px 'Alegreya Sans';
  line-height: 1.2;
  text-align: center;
  max-width: 300px;
  margin: auto;
}

.glyph {
  padding-bottom: 60px;
  width: 100%;
  margin: auto;
  margin-bottom: 0;
  padding: 0;
  max-width: 200px;
  height: auto !important;
}

header, main, footer, section, article {
  margin: 2em 0 0 0;
}

h1, h2, h3, h4 {
  text-rendering: optimizeLegibility;
  font-size: 1em; /* 18px */
  line-height: 1.1667em; /* 21px */
  margin: 1.1667em 0 0 0;
}

h1 {
  font-weight: normal;
  font-family: "Alegreya Sans SC";
  text-transform: lowercase;
}

h1 + p {
  margin: 1.1667em 0 0 0;
}

h2 {
  font-weight: bold;
}

h3 {
  text-transform: lowercase;
  font-style: italic;
  font-weight: normal;
  font-size: 0.8889em; /* 16px */
  line-height: 1.3125em; /* 21px */
  margin-top: 0;  margin-bottom: 0;
}

a {
  color: #110D11;
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 1em; /* 18px */
  line-height: 1.1667em; /* 21px */
  margin: 0 0 1.1667em 0;
}

/*@media (max-width: 530px) {
  h1 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.2em;
  }
}*/