body {
  padding: 40px;
  margin: 0px;
  color: #040707;
  background-color: #fff;
  font: 20px 'Proxima Nova';
}

a {
  color: #040707;
}

img.logo {
  width: 140px;
}

p {
  line-height: 1.2;
}

nav {
  display: inline-block;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding-right: 15px;
  vertical-align: text-bottom;
}
span {
}

nav p {
  display: inline-block;
  padding-right: 15px;
}

.glyph {
  padding-bottom: 60px;
}

section {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

ul li {
  list-style-type: none;
  display: inline-block;
}